#center_header {
    position: absolute;
    top: 0;
    left: 50%;  
}

body {
    background-image : url("intro-bg.jpg");
    background-repeat: no repeat;
    background-position: center;
}

.Title {
    color: whitesmoke;
    padding-bottom: 20px;
}


p {
    padding-left: 40px;
    color: whitesmoke;
}



