
#center_header {
    position: absolute;
    top: 0;
    left: 47%; 
    font: bold; 
}

body {
    background-color: gray;
    color: whitesmoke;
}

.col-xs-6 col-sm-6 col-md-12 col-lg-12 {
    position: absolute;
    top: 0;
    left: 0;
}

.border_2 {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
}


